<nav
  class="d-flex space-between navbar navbar-expand-lg navbar-dark bg-dark px-4"
>
  <div class="container">
    <a
      class="navbar-brand"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      >Pizzeria</a
    >

    <a
      class="navbar-brand"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      ><img src="assets/PizzeriaLogo.png" class="logo-img" alt="Error"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/order-pizza']"
            routerLinkActive="router-link-active"
            >Order Pizza</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/build-pizza']"
            routerLinkActive="router-link-active"
            >Build Ur Pizza</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="cart-hover--container container d-flex justify-content-end">
    <button
      (mouseover)="onHover()"
      (mouseleave)="showButton = false"
      [routerLink]="['/cart']"
      class="btn btn-warning text-white my-2 my-sm-0"
    >
      <i class="fa text-white fa-shopping-cart mr-2"></i>Shopping Cart
    </button>
    <div class="cart-hover" *ngIf="showButton">
      <!--  -->
      <h3 class="text-center mt-2 mb-1">Cart Contents</h3>
      <div *ngIf="emptyCart">
        <p class="text-center p-2">The cart is empty!</p>
      </div>
      <div
        class="cart-item d-flex justify-content-around align-items-center my-3"
        *ngFor="let cartItem of cart; let i = index"
      >
        <div class="img-container">
          <img src="{{ cartItem.image }}" class="cart-item--img" alt="" />
        </div>

        <div class="d-flex flex-column" style="width: 30%">
          <p class="cart-item--name">{{ cartItem.name || cartItem.tname }}</p>
          <div class="cart-item--quantity d-flex align-items-center">
            <p class="p-1 mt-3">{{ cartItem.quantity || 1 }}</p>
          </div>
          <p class="cart-item--name d-flex">
            {{ cartItem.price | currency: "INR" }}
          </p>
        </div>
      </div>
    </div>
    <div
      class="form-inline my-2 my-lg-0"
      *ngIf="loggeddIn; then thenBlock; else elseBlock"
    ></div>
    <ng-template #elseBlock>
      <button
        [routerLink]="['/login']"
        class="btn btn-primary mx-2 text-white my-2 my-sm-0"
      >
        Log In/Sign Up
      </button>
    </ng-template>
    <ng-template #thenBlock>
      <button
        (click)="logout()"
        class="btn btn-primary mx-2 text-white my-2 my-sm-0"
      >
        Logout
      </button>
    </ng-template>
  </div>
</nav>
