<div class="app-border">
  <div class="container">
    <div class="row py-3">
      <div class="grid">
        <div class="card" *ngFor="let item of orderPizzasData">
          <div class="row">
            <div class="col-sm-3">
              <h4 class="font-weight-bold">{{ item.name }}</h4>

              <div
                class="foodtype"
                [ngClass]="{ nonveg: item.type == 'nonveg' }"
              ></div>

              <h4 class="font-weight-bold my-4">
                {{ item.price | currency: "INR" }}
              </h4>
            </div>

            <div class="col-sm-6">
              <p>{{ item.description }}</p>
              <p><strong>Ingredient : </strong> {{ item.ingredients }}</p>
              <p><strong>Topping : </strong>{{ item.toppings }}</p>
            </div>

            <div class="col-sm-3">
              <div class="text-center">
                <img class="w-100" src="{{ item.img }}" alt="" />
                <div *ngIf="!item.added; then thenBlock; else elseBlock"></div>
                <ng-template #thenBlock>
                  <button
                    class="btn btn-warning text-white my-3 addcart text-center"
                    (click)="addToCart(item)"
                  >
                    Add to Cart
                  </button>
                </ng-template>
                <ng-template #elseBlock>
                  <button
                    #elseBlock
                    class="btn btn-primary text-white my-3 addcart text-center"
                  >
                    Added
                  </button>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
