<div class="app-border">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center py-3">Our Story</h3>
        <p>
          We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on
          our Facebook fan page Fans were given situations where they had to
          come up with wacky and tun excuses The person with the best excuse won
          the Best Excuse Badge and won Pizzenas vouchers. Their enthusiastic
          response proved that Purzena's Fresh Pan Pizza is the Tastiest Pan
          Pizza Ever!
        </p>
        <p>
          Ever since we launched the Tastiest Pan Pizza ever people have not
          been able to resist the sofest, cheesiest crunchiest, butteriest
          Domino's Fresh Pan Pizza They have been leaving the stage in the
          middle of a performance and even finding excuses to be disqualified in
          a football match.
        </p>
        <p>
          We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan
          page Fans were given situations where they had to come up with wacky
          and fun excuses. The person with the best excuse won the Best Excuse
          Badge and won Domino's vouchers. Their enthusiastic response proved
          that Pizzena's Fresh Pan Pizza is the Tastest Pan Pizza Ever!
        </p>
      </div>
    </div>

    <div class="row body-border-bottom">
      <div class="col-md-4">
        <img
          class="w-100"
          src="https://image.shutterstock.com/image-photo/heart-made-fresh-vegetables-on-600w-561344080.jpg"
          alt=""
        />
      </div>

      <div class="col-md-8 d-flex align-items-center">
        <div>
          <h4 class="py-3">Ingredients</h4>
          <p>
            We're ruthless about goodness. We have no quaims about teanng up a
            day-old lettuce leaf (straight from the farm) or stearing a baby
            (carrot) Cut Cut Chop Chop Steam Steam Stir Stir. While they're
            still young and fresh-that's our motto. It makes the kitchen a
            better place.
          </p>
        </div>
      </div>
    </div>

    <div class="row body-border-bottom">
      <div class="col-md-8 d-flex align-items-center">
        <div>
          <h4 class="py-3">Our Chefs</h4>

          <p>
            They make sauces sing and salads dance. They create magic with skill
            Knowledge, passion, and stirring spoons (among other things) They
            make goodness so good, it doesn't know what to do with itself We do
            though We send it to you.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <img
          class="w-100"
          src="https://image.shutterstock.com/image-photo/happy-chef-600w-437116033.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="row body-border-bottom mb-2">
      <div class="col-md-4">
        <img
          class="w-100"
          src="https://image.shutterstock.com/image-vector/time-interval-45-minutes-isolated-600w-1107131015.jpg"
          alt=""
        />
      </div>
      <div class="col-md-8 d-flex align-items-center">
        <h4>45 min delivery</h4>
      </div>
    </div>
  </div>
</div>
