<form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm" class="form">
  <h1 class="mb-3">Register to pizzera</h1>
  <div class="form-group">
    <label for="name">Username</label>
    <input
      class="form-control form-field ng-untouched ng-pristine ng-valid m-1"
      type="text"
      name="name"
      id="name"
      [(ngModel)]="person.username"
      required
    />
  </div>
  <div class="form-group">
    <label for="email">E-Mail</label>
    <input
      class="form-control form-field ng-valid m-1"
      type="email"
      name="email"
      id="email"
      #email="ngModel"
      [(ngModel)]="person.email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      required
    />
    <div *ngIf="email.touched">
      <p *ngIf="email.errors?.required">Email is a required field!</p>
      <p *ngIf="email.errors?.pattern">This is not a valid Email!!!</p>
      <p *ngIf="emailExists">User Already Exist. Please Login</p>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      class="form-control form-field m-1"
      type="password"
      name="password"
      id="password"
      #password="ngModel"
      pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$"
      [(ngModel)]="person.password"
      required
    />
  </div>
  <div *ngIf="password.touched">
    <p *ngIf="password.errors?.required">Password is a required field!</p>
    <p *ngIf="password.errors?.pattern">
      Password should be atleast 8 characters long and should contain one
      number,one character and one special character
    </p>
  </div>
  <button
    class="btn btn-primary m-3"
    type="submit"
    [disabled]="userForm.invalid"
  >
    Submit
  </button>
</form>
